<h1> Questions list </h1>
<!--
<%= @questions.inspect %>
-->
<% @questions.each do |question| %>

  <h4> <%= question.id %> Title:  <%= question.title %> </h4>

  
    <time datetime="<%=question.created_at.strftime('%Y-%m-%d %H:%M:%S') %>">
      <%=question.created_at %>
    </time>
  
   <p>
    <h5><%= question.body %></h5> 
    <br> <%= link_to "Edit", edit_question_path(question) %>
    <hr>
  </p>
<% end %>